body {
  background: lightblue;

}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}



.weatherPanel {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20%;
  height: 300px;
  font-size: 20px;
}

.weatherContainer {
  display: flex;
  text-align: center;
  width: 80%;
  height: 200px;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
  width: 300px;
}

#cityDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 50%;
  margin-top: 10px;
}

#mainElement {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 400px
}