body {
  background: rgb(233, 250, 255);
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: solid 1px black;
  background-color: white;
  padding: 10px;
  & > #noteTitle {
    height: 20px;
    width: 60%;
    text-align: center;
    font-size: 15px;
    padding: 5px; 
    
  }
  & > #noteText {
    height: 60px;
    width: 90%;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }
}

.noteInfo {
  display: flex;
  text-align: center;
}

.notePanelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: auto;
  height: auto;
}

.notePanel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 65%;
  height: auto;
  color: black;
  background-color: white
}

.pinnedDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  background-color: red;
  & > div {
    width: 100%;
    height: auto;
    & > h1 {
      text-align: left;
      font-size: 20px;
      margin-left: 20px;
    }
  }
}

.notesDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  background-color: rgb(119, 119, 126);
  & > div {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  & > h1 {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
  }
}


.noteDiv {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  & > h1 {
    font-size: 20px;
  }
  & > span {
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }


}
