body {
  background: rgb(34, 34, 34);
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: solid 1px black;
  background-color: white;
  padding: 10px;
  & > div {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
  }
  & > #noteTitle {
    height: 20px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }
  & > #noteText {
    height: 60px;
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }
  & > #pinned {
    height: 20px;
    width: 30px;
  }
}

.noteInfo {
  display: flex;
  text-align: center;
}

.notePanelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: auto;
  height: auto;
}

.notePanel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 808.88px;
  height: auto;
  color: black;
  background-color: white;
}

.pinnedDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  background-color: rgba(114, 114, 114, 0.678);
  & > .pinned-Div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 808.88px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  & > h1 {
    font-size: 25px;
  }
}

.notesDiv {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  background-color: rgba(165, 164, 164, 0.637);
  & > h1 {
    font-size: 25px;
  }
  & > .notes-Div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 808.88px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.noteDiv {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  width: 200px;
  height: 200px;
  & > h1 {
    font-size: 20px;
  }
  & > span {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  & > a {
    margin-left: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    & > img {
      background-color: rgb(245, 161, 161);
      border: solid rgba(53, 53, 53, 0.699);
      border-radius: 5px;
      cursor: pointer;

      width: 30px;
      height: 30px;
    }
  }
}
