body {
    background-color: rgb(232, 232, 252);
}

.mainBody {
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
}

.inputAdder {
    display: block;
    height: 80px;
}
.inputContainer {
    display: block;
    height: auto;
    width: 50%;
    text-align: center;
    align-items: center;
    background-color: wheat;
    margin: auto;

}

.newInputs {
    display: block;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    margin: auto;
}